body {
	background-color: #0F341C;
	text-align: left;
}

.container {
	width: 300px;
	height: 568px;
	background-color: #85A3FF;
	text-align: left;
}

.container .report {
	text-align: left;
}

textarea {
	width: 250px;
}

.btn {
	margin-top: 40px;	
}

