{% extends "base.html" %}

{% block content %}
    <div id="googleMap" style="width:320px;height:568px;"></div>
{% endblock content %}

{% block js_footer %}
  {{ super() }}  <!-- Does parent block things first -->
  <script src="http://maps.googleapis.com/maps/api/js"></script>
  <script src='{{ url_for('static', filename='js/curbdata.js') }}'></script>

  <script>
    function initialize() {
      // Map size and type attributes
      var myCenter = new google.maps.LatLng(47.606115, -122.335834);

      var mapProp = {center: myCenter,
                     zoom: 17,
                     mapTypeId: google.maps.MapTypeId.ROADMAP};

      var map = new google.maps.Map(document.getElementById("googleMap"),
                                    mapProp);
      var marker = new google.maps.Marker({position: myCenter});
      marker.setMap(map);

      addCurbs(map);
    }

    // Initialize the map
    google.maps.event.addDomListener(window, 'load', initialize);

  </script>
{% endblock js_footer %}
