{% extends "base.html" %}

{% block content %}
<div class="form-group" style="width:90%; margin:0 auto;">
  <div style="width:90%; margin:0 auto;">
    <button onclick="getLocation()" class="btn btn-default btn-block" id="locationButton">Show Map of Current Location</button>
  </div>
  <br>

  <div style="width:90%; margin:0 auto;">
    <label>By Bus Stop ID:</label>
    <input class="form-control" type="text" id="stop_id">
    <!--
    <input class="form-control" type="text" id="stop_id" placeholder="Bus Stop ID, e.g. '940'">
    -->
    <button onclick="stopIdLocation()" class="btn btn-default btn-block" id="stopIdButton">Show Map Near Stop</button>
  </div>
</div>

<div id="demo"></div>
{% endblock content %}

{% block js_footer %}
{{ super() }}  <!-- Does parent block things first -->
<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
    }
}

function stopIdLocation() {
  stopId = "1_" + $("#stop_id").val();
  window.location.href = "maptest?stop_id=" + stopId;
}

function showPosition(position) {
    window.location.href = "maptest?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude;
}

</script>
{% endblock js_footer %}
