{% extends "base.html" %}

{% block content %}
<div style="width:90%; margin:0 auto;">
<button onclick="getLocation()" class="btn btn-default btn-block" id="locationButton">Show Map</button>
</div>
<div id="demo"></div>
{% endblock content %}

{% block js_footer %}
{{ super() }}  <!-- Does parent block things first -->
<script>
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
    } 
}
    
function showPosition(position) {
    window.location.href = "maptest?lat=" + position.coords.latitude + "&lon=" + position.coords.longitude;
}

</script>
{% endblock js_footer %}
