{% extends "base.html" %}

{% block content %}

	    <div class="container">
	      <h3 style="margin-top: 15px">Construction</h3>
	      <div class="report">
	      	<p>Reported On: <span id="date-field"></span></p>
	      	<p style="margin-top: 30px">Location:</p>
	      	<textarea rows="2">Example: 2nd Ave between Spring and Seneca</textarea>
	      	<p style="margin-top: 20px">Description:</p>
	      	<textarea rows="4">Example: Sidewalk closed for construction on north side of 2nd Ave</textarea>

	      	<div class="form-group" style="margin-top: 30px">
			    <label for="exampleInputFile">Upload Photo</label>
			    <p class="help-block" style="color: black">If you took a photo, you can upload it here</p>
			    <input type="file" id="exampleInputFile">
			    
		 	</div>

	        <button type="submit" class="btn btn-lg center-block">Submit</button>
	      </div>
	    </div>

 {% endblock content %}

{% block js_footer %}     
  {{ super() }}  <!-- Does parent block things first -->
    <script>
		var d = new Date();
		document.getElementById("date-field").innerHTML = d.toDateString();
	</script> 
{% endblock js_footer %}