<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Report Obstacle</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/report.css') }}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row" style="background-color:black">
          <h1 style="font-size: 16px; margin-top: 10px; margin-bottom: 10px; color: white">Report Obstacle</h1>
        </div>
      <p style="font-size: 16px; text-align: center; margin-top: 10px">Did you encounter an obstacle not listed on the map?</p>
      <hr style="margin-bottom: 10px">
      <h3>What Type of Obstacle?</h3>
      <!-- old menu <div class="basicpillsmenu">
        <ul class="nav nav-pills nav-stacked" id="sidebar">
          <li><a href="#video">Construction</a></li>
          <li><a href="#rooter">Curb</a></li>
          <li><a href="#repair">Elevator Unavailable</a></li>
          <li><a href="#trenchless">Incline</a></li>
          <li><a href="#drainage">Stairs</a></li>
          <li><a href="#green">Other</a></li>
        </ul>-->
      <div class="row icon-row">
        <div class="col-md-6">
          <a href="{{ url_for('construction') }}" class="btn btn-info btn-lg menu-icon construction-image" style="padding-left: 6px; margin-left: -15px">Construction</a>
        </div>
        <div class="col-md-6">
          <a href="{{ url_for('incline') }}" class="btn btn-info btn-lg menu-icon incline-image" style="margin-left: -10px">Hill</a>
        </div>
      </div>
      <div class="row icon-row">
        <div class="col-md-6">
          <a href="{{ url_for('elevator') }}" class="btn btn-info btn-lg menu-icon elevator-image" style="margin-left: -15px">No Elevator</a>
        </div>
        <div class="col-md-6">
          <a href="{{ url_for('ramp') }}" class="btn btn-info btn-lg menu-icon ramp-image" style="margin-left: -10px">No Ramp</a>
        </div>
      </div>
      <div class="row icon-row">
        <div class="col-md-6">
          <a href="{{ url_for('stairs') }}" class="btn btn-info btn-lg menu-icon stairs-image" style="margin-left: -15px">Stairs</a>
        </div>
        <div class="col-md-6">
          <a href="{{ url_for('other') }}" class="btn btn-info btn-lg menu-icon other-image" style="margin-left: -10px">Other</a>
        </div>
      </div>
    </div>

      


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
  <footer>
    
  </footer>
</html>